/*****************************/
/* Global                    */
/*****************************/
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif, arial;
}

html, body {
   height: 100%;
   background-color: #f5f5f5;
}

iframe{
	border: none;
}

iframe::-webkit-scrollbar {  
    display: none;
}

h1,h2,h3,h4,h5,h6{
	color: rgba(114,178,238,1);
}

p{
	font-weight: 200;
}

a{
	text-decoration: none;
}

.clear-left{
	clear: left;
}

.clear-right{
	clear: right;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

/*****************************/
/* Header                    */
/*****************************/
header{
	width: 100%;
	height: 60px;
	position: fixed;
}

header iframe{
	width: 100%;
	height: 60px;

	border-bottom: 1px solid #efefef;

	box-shadow: 0px 0px 50px -15px #b1b1b1;
   	-webkit-box-shadow: 0px 0px 50px -15px #b1b1b1;
   	-moz-box-shadow: 0px 0px 50px -15px #b1b1b1;
}

/*****************************/
/* #container-main           */
/*****************************/
#container-main{
	width: 80%;
	margin: auto;
	height: auto;
	position: center;

	display: -webkit-box;
	display: -moz-box;           
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;			
}

/*****************************/
/* section                   */
/*****************************/
section{
	width: 75%;
	margin-top: 75px;

	border: 1px solid #efefef;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	box-shadow: 0px 0px 50px -15px #b1b1b1;
   	-webkit-box-shadow: 0px 0px 50px -15px #b1b1b1;
   	-moz-box-shadow: 0px 0px 50px -15px #b1b1b1;

   	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 13%, rgba(254,254,254,1) 26%, rgba(248,248,248,1) 78%, rgba(246,246,246,1) 96%);
	background: -webkit-gradient(left top, right bottom, color-stop(13%, rgba(255,255,255,1)), color-stop(26%, rgba(254,254,254,1)), color-stop(78%, rgba(248,248,248,1)), color-stop(96%, rgba(246,246,246,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 13%, rgba(254,254,254,1) 26%, rgba(248,248,248,1) 78%, rgba(246,246,246,1) 96%);
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 13%, rgba(254,254,254,1) 26%, rgba(248,248,248,1) 78%, rgba(246,246,246,1) 96%);
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 13%, rgba(254,254,254,1) 26%, rgba(248,248,248,1) 78%, rgba(246,246,246,1) 96%);
	background: linear-gradient(135deg, rgba(255,255,255,1) 13%, rgba(254,254,254,1) 26%, rgba(248,248,248,1) 78%, rgba(246,246,246,1) 96%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=1 );
}

/*****************************/
/* aside                     */
/*****************************/
aside{
	width: 24.5%;
	height: 800px;
	margin-top: 75px;		
	margin-left: 15px;	
}

aside iframe{
	width: 100%;
	height: 800px;

	border: 1px solid #efefef;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	box-shadow: 0px 0px 50px -15px #b1b1b1;
   	-webkit-box-shadow: 0px 0px 50px -15px #b1b1b1;
   	-moz-box-shadow: 0px 0px 50px -15px #b1b1b1;

   	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 13%, rgba(254,254,254,1) 26%, rgba(248,248,248,1) 78%, rgba(246,246,246,1) 96%);
	background: -webkit-gradient(left top, right bottom, color-stop(13%, rgba(255,255,255,1)), color-stop(26%, rgba(254,254,254,1)), color-stop(78%, rgba(248,248,248,1)), color-stop(96%, rgba(246,246,246,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 13%, rgba(254,254,254,1) 26%, rgba(248,248,248,1) 78%, rgba(246,246,246,1) 96%);
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 13%, rgba(254,254,254,1) 26%, rgba(248,248,248,1) 78%, rgba(246,246,246,1) 96%);
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 13%, rgba(254,254,254,1) 26%, rgba(248,248,248,1) 78%, rgba(246,246,246,1) 96%);
	background: linear-gradient(135deg, rgba(255,255,255,1) 13%, rgba(254,254,254,1) 26%, rgba(248,248,248,1) 78%, rgba(246,246,246,1) 96%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=1 );
}

/*****************************/
/* footer                    */
/*****************************/
footer{
	clear: both;
	margin-top: 15px;

}

footer iframe{
	width: 100%;	

	border-top: 1px solid #efefef;

	box-shadow: 0px 0px 50px -15px #b1b1b1;
   	-webkit-box-shadow: 0px 0px 50px -15px #b1b1b1;
   	-moz-box-shadow: 0px 0px 50px -15px #b1b1b1;
}

/*****************************/
/* Input                     */
/*****************************/
input[type=text], input[type=password], textarea {  
	outline: none;
  	border: 1px solid #efefef;
  	-webkit-transition: all 0.30s ease-in-out;
  	-moz-transition: all 0.30s ease-in-out;
  	-ms-transition: all 0.30s ease-in-out;
  	-o-transition: all 0.30s ease-in-out;
}
 
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  	border: 1px solid rgba(81, 203, 238, 1);
}
