/*****************************/
/* .container-dashboard      */
/*****************************/
.container-dashboard{
	width: 98%;
	margin-top: 10px;
	margin-left: 10px;
}

.container-dashboard .header{
	padding: 10px 10px 10px 20px;
	border-bottom: 1px groove #a1a1a1;
}

.container-dashboard .body{
	padding: 20px 20px 20px 20px;
}

/*******************************/
/* #container-identidade-visual*/
/*******************************/
#container-identidade-visual{
	height: 500px;
}

/*****************************/
/* .display-color            */
/*****************************/
form .container:not(#first-container){
	margin-left: 10px; 
}

form .container{
	width: 18.9%;
	float: left;
	border: 1px solid #a1a1a1;
}

form .container .display-color{	
	height: 300px;
	border-bottom: 1px solid #a1a1a1;
}

form .container .display-color:hover{
	cursor: pointer;
}

form input[type=submit]{
	margin-top: 30px;
	float: right;
}

form input[type=submit]{
	height: 3.5em;
	width: 14.5em;

	border: 1px solid #efefef;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;

	color: #ffffff;
	background-color: #72b2ee;
}

form input[type=submit]:hover{
	cursor: pointer;
	border: 1px solid #a1a1a1;
}

#display-default-color{
	background-color: #72b2ee;
}

#display-red-color{
	background-color: #ff0000;
}

#display-green-color{
	background-color: #00ff00;
}

#display-yellow-color{
	background-color: #ffff00;
}

#display-other-color{
	margin-left: 10px;
}

#input-other-color{
	width: 80%;
	margin-top: 75%;
}